<p>product-form works!</p>
<mat-card>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="price" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Stock</mat-label>
        <input matInput type="number" formControlName="stock" />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </form>
  </mat-card>

