<p>product-form works!</p>
<form [formGroup]="productForm" (ngSubmit)="submit()">

<input type="text" name="name" formControlName="name" placeholder="Name">
<input type="number" name="price" formControlName="price" placeholder="price"> 
<input type="text" name="imgUrl" formControlName="imageUrl" placeholder="Image">
<input type="text" name="categories" formControlName="categories" placeholder="Categories">
<input type="text" name="description" formControlName="description" placeholder="Description">
<input type="number" name="stock" formControlName="stock" placeholder="Stock">
<input type="number" name="maxStock" formControlName="maxStock" placeholder="Max Stock">
<input type="text" name="stockShippingStatus" formControlName="stockShippingStatus" placeholder="Stock shipping status">
<button type="submit">Add new Product</button>
</form>